:root {
    /*COLORS*/
--grey-link: #808080;   
--grey-button: #bcbcbc;    
--red-button:    #cb1905;
--epi-color: #f63c20;
--footer-background: #eeeeee;

    /*FONTS*/
--f-helvetica:  Arial, "Helvetica Neue"; 

}
/*GENERAL STYLE*/
* {
box-sizing: border-box;
}
body {
    font-family: -apple-system,BlinkMacSystemFont, "Segoe UI",Roboto, Oxygen-Sans, Ubuntu,Cantarell,"Helvetica Neue", sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.563;
    
  }

img {
    display: block;
    height: auto;
    max-width: 100%;

}  
a {
    text-decoration: none;
    
    
    
}
li {
    list-style: none;
    margin: 0;
    padding: 0;
}
button {
    border-radius: 10%;
}
/*TYPOGRAPHY*/
h1,
h2,
h3,
h4,
h5 {
    margin-bottom: 1rem;
    margin-top: 1em;
   
}
#wrapper nav {
    border-bottom: 1px solid var(--grey-button);
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
} 
.mainContent {
    margin-right: 5vw;
    margin-left:5vw;
}
.recipePreview {
    padding-top: 1.5rem;

}
.actions,
.logoBox,
.headlineE,
.ratingBox,
.ingredientButton
 {
    display: flex;
    flex-direction: row;
}
.actions {        
    gap: 10px;
}
.logoBox { 
    align-items: center;
    gap: 30vw;
}
.title {
    text-align: center;
}
.ratingBox {
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid 1px var(--grey-button);
}
.sourceLogo {
    border-right: solid 1px var(--grey-button) ;
    border-left: solid 1px var(--grey-button) ;
}
.ingredientsBox {
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.ingredient ul {
    padding-left: 0%;
}
.ingredientButton {
    padding-top: 1rem;
    padding-bottom: 2rem;
    gap: 1rem;
    border-bottom: solid 1px var(--grey-button);
}
.headlineE{
    align-items: center;
    gap: 1rem;
    text-align: center;
}
.textContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.imageWrapper {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;    
}
.imageGrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}
.heroContainer {
    position: relative;
    max-width: fit-content;
    margin:0;
}
.heroContainer .heroText {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
}
.heroContainer .heroWtext {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
}
.heroContainer a:hover {
   background-color:hotpink; 
}

/*MAIN CONTENT*/
@media only screen and (min-width: 600px) {

.recipePreview {
    margin-left: auto;
    margin-right:auto;
    max-width: 600px;
    display: block;
}


}

  

